.container, input{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.container input{
    margin-top: 20px;
}

.container button{
    margin-top: 20px;
    
}