
.formcontainer {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto;
  }
  
  .formgroup {
    margin: 10px 0;
  }
  
  .formlabel {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .forminput {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formfileinput {
    width: 100%;
  }
  
  .formbutton {
    margin-top: 10px;
  }
  
  @media screen and(max-width: 768px) {
    .formcontainer, .formgroup{
      margin-right: 100px;
    }
  }